<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_2Dshootertutorial.Defualt" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_2Dshootertutorial.Defualt>
            <setting name="UsingKinect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_H" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="_W" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="PlayerDefualtSpeed" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StarfieldDefualtSpeed" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AsteroidDefualtSpeed" serializeAs="String">
                <value>4</value>
            </setting>
        </_2Dshootertutorial.Defualt>
    </userSettings>
</configuration>